.home__latest {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  font-family: Roboto;
  font-size: 22px;
  direction: rtl;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }
}
