.home__latest {
  display: flex;
  justify-content: space-between;
  margin: 8px 20px;
  font-family: Lato-Bold;
  font-size: 22px;
  direction: rtl;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }
}
